.html,
body {
  padding: 0;
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;

  height: 100%;
  width: 100%;
}

/*.content-site {
  padding-top: 200px;
  padding-bottom: 200px;
}*/

.container {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: column;
}

.header-gap {
  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: #dedede;
  color: #000;

  align-items: center;

  font-family: Roboto;
  font-size: 17.5px;
}

.header-content {
  display: flex;
  flex: 1;
  flex-direction: row;

  max-height: 50px;

  align-items: center;
  align-self: center;
  justify-content: space-between;

  padding-right: 10px;
  padding-left: 10px;

  margin-top: 20px;

  background-color: #fff;
}

.parallax {
  background-image: url(assets/saojanuarioig.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover; /*cover*/
  background-attachment: fixed;
  color: #000;

  min-height: 800px;

  width: 100%;
  height: 100%;
}

.parallax-content{

}
